body{
    width: 100%;
    display: flex;

    .first-section {
        width: 65%;
        
        .heading {
            font-size: 25px;
            color: rgb(29, 29, 29);
            font-weight: 600;
        }

        .info-one {
            display: flex;
    
            a {
                margin-top: 16px;
                margin-left: 5px;
            }
        }
    
        form {
            display: flex;
            flex-direction: column;
            width: 40%;
    
            input, select, button {
                padding: 7px;
                margin: 10px 0;
            }
    
            select {
                appearance: none;
                &:invalid {
                    color: gray;
                  }
                  [disabled] {
                    color: gray;
                  }
            }
        }
    
        .info-two {
            width: 40%;
        }

        a, span {
            color: rgb(66, 66, 242);
        }
    }
    
    .second-section {
        width: 35%;
    }
}
