@use 'base';

html, body {
    height: 100%;
    margin: 0;
}

body{
    width: 100%;
    display: flex;
    font-family: Helvetica, sans-serif;
    color: #333;
    font-size: 14px;

    .first-section {
        width: 65%;
        background: #f8f8f8;
        height: 100%;
        
        .coverall {
            position: relative;
            right: 50%;
            left: 25%;
            top: 10%;
            // bottom: 50%;
            width: 55%;
        
            .heading {
                font-size: 25px;
                color: rgb(29, 29, 29);
                font-weight: 600;
            }

            .info-one {
                display: flex;
                margin-bottom: 15px;
        
                a {
                    margin-top: 14px;
                    margin-left: 7px;
                    font-weight: 600;
                    color: #0000ff;
                }
            }
        
            form {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin: 10px 0;
        
                input, select, button {
                    padding: 10px;
                    margin: 10px 0;
                    border-radius: 3px;
                    border: 1px solid #ececec;
                    background: #f8f8f8;

                    &.active {
                        border: none;
                    }
                }

                ::placeholder {
                    color: #767676;
                    opacity: .9;
                    font-size: 13px;
                    background: #f8f8f8;
                }
        
                .select-div {
                    // width: 100px;
                    //   height: 17px;
                    overflow: hidden;
                    overflow: -moz-hidden-unscrollable;
                    background: url(../img/expandarrow.png) no-repeat right white;
                    // background-position-x: 362px;
                    background-color: #f8f8f8;
                    //   border: 2px double red;
                    //   display: inline-block;
                    //   position: relative;
                    select {
                        -moz-appearance:none;
                        -webkit-appearance:none;
                        appearance:none;
                        background: transparent;
                        -webkit-appearance: none;
                        // width: 100px;
                        // font-size: 11px;
                        // border: 0;
                        // height: 17px;
                        // position: absolute;
                        // left: 0;
                        // top: 0;
                        color: gray;
                        width: 100%;

                        .option {
                            color: #333;
                        }
                    }    
                }
                
                .password-div {
                    width: 100%;
                    display: flex;

                    input {
                        width: 100%;
                        border-right: none;
                    }

                    i {
                        border: 1px solid #ececec;
                        cursor: pointer;
                        height: 24px;
                        border-left: none;
                        padding-top: 12px;
                        margin-top: 10px;
                    }
                }

                button {
                    opacity: .3;
                    font-weight: 600;
                    cursor: pointer;
                }

                #error-email, #error-password {
                    visibility: collapse;
                    margin: 0;
                    color: red;
                    font-size: 13px;
                }
            }
        
            .info-two {
                width: 80%;

                p, span {
                    line-height: 25px;
                }
            }

            a, span {
                color: #0000ff;
            }
        }
    }
    
    .second-section {
        width: 35%;
        background: #0000ff;
        color: #fff;
        height: 100%;

        div {
            position: relative;
            right: 50%;
            left: 25%;
            top: 35%;
            // bottom: 50%;
            width: 55%;

            p:first-child {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 60px;
            }

            p {
                line-height: 25px;
            }
        }
    }

    @media (max-width: 1200px) {
        .first-section .coverall {
            width: 80%;
            left: 20%;
        }

        .second-section div {
            width: 80%;
            left: 13%;
            top: 20%;
        }
    }

    @media (max-width: 550px) {
        flex-direction: column-reverse;

        .first-section {
            position: absolute;
            width: 100%;
            top: 250px;

            .coverall {
                width: 83%;
                left: 13%;
            }
        }

        .second-section {
            position: absolute;
            height: 20rem;
            width: 100%;
            top: -1px;
        }
    }
}
