@use 'base';

body{
    width: 100%;
    display: flex;
    font-family: Helvetica, sans-serif;
    color: #333;
    font-size: 13px;

    .first-section {
        width: 65%;
        background: #f8f8f8;
        
        .heading {
            font-size: 25px;
            color: rgb(29, 29, 29);
            font-weight: 600;
        }

        .info-one {
            display: flex;
            margin-bottom: 15px;
    
            a {
                margin-top: 13px;
                margin-left: 7px;
                font-weight: 600;
                color: #4242f2;
            }
        }
    
        form {
            display: flex;
            flex-direction: column;
            width: 40%;
            margin: 20px 0;
    
            input, select, button {
                padding: 10px;
                margin: 10px 0;
                border-radius: 5px;
                border: 1px solid #ececec;
            }

            ::placeholder {
                color: #767676;
                opacity: .9;
                font-size: 13px;
                background: #f8f8f8;
            }
    
            select {
                &:invalid {
                    color: gray;
                  }
                  [disabled] {
                    color: gray;
                  }
            }

            button {
                opacity: .3;
                font-weight: 600;
            }
        }
    
        .info-two {
            width: 40%;
        }

        a, span {
            color: rgb(66, 66, 242);
        }
    }
    
    .second-section {
        width: 35%;
    }
}
